<form [formGroup]="formOptions.form!">
	<custom-form
    #dataSourceForm
		[options]="formOptions"
		[upsert]="upsertPrm"
		[model]="model"></custom-form>
</form>

@for (filterForm of filterFormOptions(); let i = $index; track i) {
	<div class="filter-form-container">
		<form [formGroup]="filterForm.form!">
			<custom-form
				[options]="filterForm"
				[upsert]="upsertPrm"
				[model]="filterMoel[i]"></custom-form>
		</form>
		<p-button
			icon="pi pi-trash"
			class="trash-btn"
			aria-label="delete"
			(click)="del(i)" />
	</div>
}
<p-button
	class="action-btn"
	size="small"
	label="增加一项筛选条件"
	icon="pi pi-plus"
	iconPos="left"
	(click)="add()" />
<p-button
	class="action-btn"
	size="small"
	label="预览源数据"
	icon="pi pi-eye"
	iconPos="left"
	(click)="preview()" />
@if (showAggPreviewBtn()) {
	<p-button
		class="action-btn"
		size="small"
		label="预览聚合数据"
		icon="pi pi-eye"
		iconPos="left"
		(click)="previewAgg()" />
}

<div class="table-container">
	<ag-grid-angular
		style="width: 100%; height: 610px"
		[columnDefs]="columnDefs"
		[localeText]="localeText"
		[defaultColDef]="defaultColDef"
		[rowData]="rowData" />
</div>
