:host {
  .filter-form-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .filter-form-container form {
    flex: 1;
  }

  .filter-form-container .trash-btn {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: 1.5rem;
  }
  .action-btn {
    margin-left: 1rem;
  }
  .table-container {
    margin-top: 1rem;
  }
}
