@import '../styles';

.ngx-puzzle-editor-component {

  .p-tabpanels {
    padding-left: 0;
    padding-right: 0;
  }

  .p-inputnumber {
    //width: 135px;
    ::ng-deep input {
      width: 100%;
    }
  }


  .color-input {
    width: 80px;
    margin-left: 8px;
  }
}

.selected-image-item {
  width: 100px;
  height: 28px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.option-item-image {
  width: 100%;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: 8px 0;
}
