<div class="ngx-puzzle-editor-component">
  <thy-tabs [thyActiveTab]="activeTab">
    @for (tab of tabs(); let i = $index; track i) {
      <thy-tab [id]="tab.value">
        <ng-template #title>
          <thy-icon [thyIconName]="tab.icon"></thy-icon>
          {{ tab.title }}
        </ng-template>
        @switch (tab.value) {
          @case ('appearance') {
            <div thyLayout>
              <h5 class="font-size-md font-weight-normal mt-2">基础属性</h5>
              <div thyRow [thyGutter]="16" class="mb-4">
                @for (field of fields; track field.key) {
                  <div [thyCol]="12" class="mt-2">
                    <label class="form-label">
                      {{ field.label }}
                    </label>
                    <div>
                      <thy-input-number
                        [(ngModel)]="formData[field.key]"
                        [thyMin]="field?.min || 0"
                        [thyMax]="field?.max || 9999"
                        [thyStep]="field?.step || 1"
                        [thySize]="'sm'"
                        [thySuffix]="field?.suffix || ''"
                        (ngModelChange)="basicDataChange($event, field.key)"
                      />
                    </div>
                  </div>
                }
              </div>
              <h5 class="font-size-md font-weight-normal mt-4">其他外观</h5>
              <div thyRow [thyGutter]="16">
                @for (field of styleFields; let i = $index; track field.key) {
                  <div [thyCol]="12" class="mt-2">
                    <label class="form-label" [for]="field.key + i">
                      {{ field.label }}
                    </label>
                    <div>
                      @switch (field.schemaType) {
                        @case ('number') {
                          <thy-input-number
                            [name]="field.key + i"
                            [(ngModel)]="formData.styles[field.key]"
                            [thyMin]="field?.min || 0"
                            [thyMax]="field?.max || 9999"
                            [thyStep]="field?.step || 1"
                            [thySize]="'sm'"
                            [thySuffix]="field?.suffix || ''"
                            (ngModelChange)="styleDataChange($event, field.key)"
                          />
                        }
                        @case ('color') {
                          <div
                            class="color-picker-box"
                            [ngStyle]="{ backgroundColor: formData.styles[field.key] }"
                            thyColorPicker
                            [thyOffset]="10"
                            [(ngModel)]="formData.styles[field.key]"
                            (ngModelChange)="styleDataChange($event, field.key)"
                          ></div>
                        }
                        @case ('select-image') {
                          <thy-select
                            thyAllowClear
                            [(ngModel)]="formData.styles[field.key]"
                            [thySize]="'sm'"
                            (ngModelChange)="styleDataChange($event, field.key)"
                            thyPlaceHolder="选择背景图片"
                          >
                            @for (option of field.options; track option.val) {
                              <thy-option [thyRawValue]="option" [thyValue]="option.val" [thyShowOptionCustom]="true">
                                <div class="option-item-image" [style.background-image]="option.val"></div>
                              </thy-option>
                            }
                            <ng-template #selectedDisplay let-value>
                              <div class="selected-image-item" [style.background-image]="formData.styles[field.key]"></div>
                            </ng-template>
                          </thy-select>
                        }
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
          }
          @case ('advanced') {
            @if (config.type === 'chart' && config.props['chart']) {
              <ngx-puzzle-chart-editor
                [options]="config.props['chart']"
                [subType]="config.subType"
                (onChange)="updateOptions($event, 'chart')"
              ></ngx-puzzle-chart-editor>
            }
          }
          @case ('styles') {}
        }
      </thy-tab>
    }
  </thy-tabs>
  <!--	<p-tabs>-->
  <!--		<p-tablist>-->
  <!--			@for (tab of tabs; track tab.value) {-->
  <!--				<p-tab-->
  <!--					[value]="tab.value"-->
  <!--					class="flex items-center !gap-2">-->
  <!--					<i-->
  <!--						class="pi"-->
  <!--						[class]="tab.icon"></i>-->
  <!--					<span class="font-bold whitespace-nowrap">{{ tab.title }}</span>-->
  <!--				</p-tab>-->
  <!--			}-->
  <!--		</p-tablist>-->

  <!--		<p-tabpanels>-->
  <!--			@for (tab of tabs; track tab.value) {-->
  <!--				@switch (tab.value) {-->
  <!--					@case ('appearance') {-->
  <!--						<p-tabpanel [value]="tab.value">-->
  <!--							<p class="m-0 font-bold">基础属性</p>-->
  <!--							<div class="card">-->
  <!--								<div class="flex gap-4 mb-6 flex-wrap">-->
  <!--									@for (field of fields; track field.key) {-->
  <!--										<div-->
  <!--											class="flex-auto input-item"-->
  <!--											[ngClass]="{ 'mb-4': true }">-->
  <!--											<label-->
  <!--												class="block mb-2"-->
  <!--												[for]="field.key">-->
  <!--												{{ field.label }}-->
  <!--											</label>-->
  <!--											<p-inputnumber-->
  <!--												[(ngModel)]="formData[field.key]"-->
  <!--												(ngModelChange)="basicDataChange($event, field.key)"-->
  <!--												[min]="0"-->
  <!--												[max]="9999"-->
  <!--												[showButtons]="true"-->
  <!--												size="small"-->
  <!--												mode="decimal"-->
  <!--												[inputId]="field.key">-->
  <!--											</p-inputnumber>-->
  <!--										</div>-->
  <!--									}-->
  <!--								</div>-->
  <!--							</div>-->
  <!--							<p class="m-0 font-bold">其他外观</p>-->
  <!--							<div class="card">-->
  <!--								<div class="flex gap-4 mb-6 flex-wrap">-->
  <!--									@for (field of styleFields; track field.key) {-->
  <!--										<ng-container [ngSwitch]="field.schemaType">-->
  <!--											<ng-container *ngSwitchCase="'number'">-->
  <!--												<div-->
  <!--													class="flex-auto input-item"-->
  <!--													[ngClass]="{ 'mb-4': true }">-->
  <!--													<label-->
  <!--														class="block mb-2"-->
  <!--														[for]="field.key">-->
  <!--														{{ field.label }}-->
  <!--													</label>-->
  <!--													<p-inputnumber-->
  <!--														[(ngModel)]="formData.styles[field.key]"-->
  <!--														(ngModelChange)="styleDataChange($event, field.key)"-->
  <!--														[min]="field?.min || 0"-->
  <!--														[max]="field?.max || 9999"-->
  <!--														[step]="field?.step || 1"-->
  <!--                            [suffix]="field?.suffix"-->
  <!--														[showButtons]="true"-->
  <!--														size="small"-->
  <!--														mode="decimal"-->
  <!--														[inputId]="field.key">-->
  <!--													</p-inputnumber>-->
  <!--												</div>-->
  <!--											</ng-container>-->
  <!--											<ng-container *ngSwitchCase="'color'">-->
  <!--												<div-->
  <!--													class="flex-auto input-item"-->
  <!--													[ngClass]="{ 'mb-4': true }">-->
  <!--													<label-->
  <!--														class="block mb-2"-->
  <!--														[for]="field.key">-->
  <!--														{{ field.label }}-->
  <!--													</label>-->
  <!--													<p-color-picker-->
  <!--														[(ngModel)]="formData.styles[field.key]"-->
  <!--														(ngModelChange)="styleDataChange($event, field.key)"-->
  <!--														[inputId]="field.key" />-->
  <!--													<input-->
  <!--														class="color-input"-->
  <!--														pInputText-->
  <!--														type="text"-->
  <!--														pSize="small"-->
  <!--														(ngModelChange)="styleDataChange($event, field.key)"-->
  <!--														[(ngModel)]="formData.styles[field.key]" />-->
  <!--												</div>-->
  <!--											</ng-container>-->
  <!--											<ng-container *ngSwitchCase="'select-image'">-->
  <!--												<div-->
  <!--													class="flex-auto input-item"-->
  <!--													[ngClass]="{ 'mb-4': true }">-->
  <!--													<label-->
  <!--														class="block mb-2"-->
  <!--														[for]="field.key">-->
  <!--														{{ field.label }}-->
  <!--													</label>-->
  <!--													<p-select-->
  <!--														[options]="field.options"-->
  <!--														[(ngModel)]="formData.styles[field.key]"-->
  <!--														optionLabel="name"-->
  <!--														filterBy="name"-->
  <!--														[checkmark]="true"-->
  <!--														[showClear]="true"-->
  <!--														(ngModelChange)="styleDataChange($event, field.key)"-->
  <!--														class="w-full md:w-56">-->
  <!--														<ng-template-->
  <!--															#selectedItem-->
  <!--															let-selectedOption>-->
  <!--															<div-->
  <!--																class="selected-image-item"-->
  <!--																[style.background-image]="selectedOption.val"></div>-->
  <!--														</ng-template>-->
  <!--														<ng-template-->
  <!--															let-option-->
  <!--															#item>-->
  <!--															<div-->
  <!--																class="option-item-image"-->
  <!--																[style.background-image]="option.val"></div>-->
  <!--														</ng-template>-->
  <!--													</p-select>-->
  <!--												</div>-->
  <!--											</ng-container>-->
  <!--											<ng-container *ngSwitchDefault> 默认，其他 {{ field.schemaType }} </ng-container>-->
  <!--										</ng-container>-->
  <!--									}-->
  <!--								</div>-->
  <!--							</div>-->
  <!--						</p-tabpanel>-->
  <!--					}-->
  <!--					@case ('advanced') {-->
  <!--						<p-tabpanel [value]="tab.value">-->
  <!--							@if (config.type === 'chart' && config.props['chart']) {-->
  <!--&lt;!&ndash;                [options]="{ opts: config.props['chart'], type: config.subType }"&ndash;&gt;-->
  <!--								<app-chart-editor-->
  <!--                  [options]="config.props['chart']"-->
  <!--                  [subType]="config.subType"-->
  <!--									(onChange)="updateOptions($event, 'chart')"></app-chart-editor>-->
  <!--							} @else if (config.type === 'table') {-->
  <!--								<app-table-editor-->
  <!--									[options]="config.props['table']"-->
  <!--									[subType]="config.subType"-->
  <!--									(onChange)="updateOptions($event, 'table')"></app-table-editor>-->
  <!--							}-->
  <!--						</p-tabpanel>-->
  <!--					}-->
  <!--					@case ('styles') {-->
  <!--						<p-tabpanel [value]="tab.value">-->
  <!--							@if (config.type === 'text') {-->
  <!--								<app-text-editor-->
  <!--									[options]="config.props['text']"-->
  <!--									[subType]="config.subType"-->
  <!--									(onChange)="updateOptions($event, 'text')"></app-text-editor>-->
  <!--							}-->
  <!--						</p-tabpanel>-->
  <!--					}-->
  <!--				}-->
  <!--			}-->
  <!--		</p-tabpanels>-->
  <!--	</p-tabs>-->
</div>
