<div class="ngx-puzzle-editor-component">
  <thy-tabs [thyActiveTab]="activeTab" (thyActiveTabChange)="onTabChange($event)">
    @for (tab of tabs(); let i = $index; track i) {
      <thy-tab [id]="tab.value">
        <ng-template #title>
          <thy-icon [thyIconName]="tab.icon"></thy-icon>
          {{ tab.title }}
        </ng-template>
        @switch (tab.value) {
          @case ('appearance') {
            <puzzle-form-renderer [sections]="sections" [formData]="formData" (fieldChange)="onFieldChange($event)" />
          }
          @case ('advanced') {
            @if (config.type === 'chart' && config.props['chart']) {
              <ngx-puzzle-chart-editor
                [componentId]="config.id"
                [options]="config.props['chart']"
                [subType]="config.subType"
                [requestOptions]="config.dataRequest || {}"
                (onChange)="updateOptions($event, 'chart')"
              ></ngx-puzzle-chart-editor>
            } @else if (config.type === 'table') {
              <ngx-puzzle-table-editor
                [componentId]="config.id"
                [options]="config.props['table']"
                [subType]="config.subType"
                [requestOptions]="config.dataRequest || {}"
                (onChange)="updateOptions($event, 'table')"
                (requestOptionsChange)="requestChange($event)"
              ></ngx-puzzle-table-editor>
            }
          }
          @case ('styles') {
            @if (config.type === 'text') {
              <ngx-puzzle-text-editor
                [options]="config.props['text']"
                [subType]="config.subType"
                (onChange)="updateOptions($event, 'text')"
              ></ngx-puzzle-text-editor>
            }
          }
          @case ('control') {
            <puzzle-control-editor
              [options]="config.props['control']"
              [subType]="config.subType"
              (onChange)="updateOptions($event, 'control')"
            ></puzzle-control-editor>
          }
          @case ('refresh') {
            <ngx-puzzle-refresh-editor
              [options]="config.refreshConfig"
              (onChange)="updateRefreshOptions($event)"
            ></ngx-puzzle-refresh-editor>
          }
        }
      </thy-tab>
    }
  </thy-tabs>
</div>
