
:host {
	// todo 这里都需要配置颜色
	::ng-deep .ag-root-wrapper {
		background-color: transparent;
		border: none;
		.ag-column-drop-horizontal {
			background-color: transparent;
		}
    .ag-sticky-top {
      //background-color: currentColor;
    }
		.ag-root-wrapper-body {
			.ag-header {
				color: #007bff;
				background-color: transparent;
			}

			.ag-header-cell-resize {
				&:after {
					background-color: rgba(84, 207, 189, 0.4);
				}
			}

			.ag-row {
				color: #007bff;
				background-color: transparent;
			}
		}
	}
}
