<app-drag-wrapper
	[isEdit]="isEdit"
	[size]="config.size"
	[position]="config.position"
	[componentId]="config.id"
	[styles]="config.props.styles">
	@if (!!this.config.props) {
		<ag-grid-angular
			style="width: 100%; height: 100%"
			[columnDefs]="columnDefs"
			[defaultColDef]="defaultColDef"
			[autoGroupColumnDef]="autoGroupColumnDef"
			[rowGroupPanelShow]="rowGroupPanelShow"
			[groupDefaultExpanded]="groupDefaultExpanded"
			[groupDisplayType]="groupDisplayType"
			[sideBar]="sideBar"
			[rowData]="rowData"
			(gridReady)="onGridReady($event)" />
	}
</app-drag-wrapper>
