<puzzle-drag-wrapper
  [isEdit]="isEdit"
  [size]="config.size"
  [position]="config.position"
  [componentId]="config.id"
  [styles]="config.props.styles"
>
  @if (!!this.config.props) {
    @if (config.subType === 'table') {
      <thy-table
        thyTheme="boxed"
        thySize="sm"
        [thyModel]="rowData"
        thyMinWidth="100%"
        [thyLoadingDone]="true">
        @for (col of columnDefs; track col.field) {
          <thy-table-column
            [thyModelKey]="col.field"
            [thyTitle]="col.header || col.field">
          </thy-table-column>
        }
      </thy-table>
    } @else {
      <puzzle-advanced-table [report]="config.props.table"></puzzle-advanced-table>
    }
  }
</puzzle-drag-wrapper>
