<imm-bi-drag-wrapper
	[isEdit]="isEdit"
	[size]="config.size"
	[position]="config.position"
	[componentId]="config.id"
  [mainType]="'table'"
	[styles]="config.props.styles">
	@if (!!this.config.props) {
		<ag-grid-angular
			style="width: 100%; height: 100%"
      [ngStyle]="dynamicStyles"
			[columnDefs]="columnDefs"
			[defaultColDef]="defaultColDef"
			[autoGroupColumnDef]="autoGroupColumnDef"
			[rowGroupPanelShow]="rowGroupPanelShow"
			[groupDefaultExpanded]="groupDefaultExpanded"
			[groupDisplayType]="groupDisplayType"
      [pivotMode]="pivotMode"
      [pivotPanelShow]="pivotPanelShow"
			[sideBar]="sideBar"
			[rowData]="rowData"
      [localeText]="localeText"
			(gridReady)="onGridReady($event)" />

	}
</imm-bi-drag-wrapper>
