@use 'ngx-tethys/styles/variables.scss';

.color-picker-box {
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: 1px solid variables.$input-border-color;
}

::ng-deep .thy-slide-layout .thy-slide-body {
  scrollbar-gutter: stable;
  padding-right: 6px;
}
