
<p-dialog
  [header]="header()"
  [modal]="true"
  [(visible)]="visible"
  (onHide)="onCancel()"
  appendTo="body"
  [style]="dialogStyle()">
  @if (visible()) {
    <div [style]="contentStyle()">
      <imm-bi-data-source-panel
        [paramSearch]="currentParamSearch()"
        [aggregationFn]="currentAggregationFn()"
        [showAggPreviewBtn]="showAggPreview()"
        (paramsOnChange)="onParamsChange($event)"
        (tableColumnsChange)="onAllColChanged($event)"
      >
      </imm-bi-data-source-panel>
    </div>
  }
  <ng-template #footer>
    <div class="flex justify-end gap-2 mt-2">
      <p-button
        label="取消"
        size="small"
        severity="secondary"
        (click)="visible.set(false)" />
      <p-button
        label="确认"
        size="small"
        (click)="onConfirm()" />
    </div>
  </ng-template>
</p-dialog>
