<div class="refresh-editor">
  <thy-collapse>
    @for (section of sections; track section.label) {
      <thy-collapse-item [thyTitle]="section.label">
        @if (section?.children && section.children!.length > 0) {
          <div thyRow [thyGutter]="16">
            @for (field of section.children; track field.key) {
              <div [thyCol]="12" class="input-item">
                <label class="block mb-1 text-sm">
                  {{ field.label }}
                  @if (field?.description) {
                    <i [thyTooltip]="field?.description!" thyPlacement="top" class="field-label-icon pi pi-question-circle"></i>
                  }
                </label>
                @switch (field.schemaType) {
                  @case ('select') {
                    <thy-select [(ngModel)]="formData[field.key]" (ngModelChange)="onFormFieldChange(field.key, $event)">
                      @for (opt of field.options; track opt.val) {
                        <thy-option [thyValue]="opt.val">{{ opt.label }}</thy-option>
                      }
                    </thy-select>
                  }
                  @case ('number') {
                    <thy-input-number
                      [(ngModel)]="formData[field.key]"
                      (ngModelChange)="onFormFieldChange(field.key, $event)"
                      [thyMin]="field?.min || 0"
                      [thyMax]="field?.max || 999999"
                      [thyStep]="field?.step || 1"
                      [thySize]="'sm'"
                    ></thy-input-number>
                  }
                  @case ('date') {
                    <thy-date-picker
                      [(ngModel)]="formData[field.key]"
                      [thySize]="'sm'"
                      (ngModelChange)="onFormFieldChange(field.key, $event)"
                    ></thy-date-picker>
                  }
                  @default {
                    <input thyInput type="text" [(ngModel)]="formData[field.key]" (ngModelChange)="onFormFieldChange(field.key, $event)" />
                  }
                }
              </div>
            }
          </div>
        }
      </thy-collapse-item>
    }
  </thy-collapse>
</div>
