@if (formData) {
  <p-accordion [multiple]="false">
    @for (group of sections; track group.label) {
      <p-accordion-panel [value]="group.label">
        <p-accordion-header>{{ group.label }}</p-accordion-header>
        <p-accordion-content>
          @if (group?.children && group.children!.length > 0) {
            <div class="flex flex-wrap gap-4">
              @for (field of group.children; track field.key) {
                <div class="flex-auto input-item">
                  <label class="block mb-1 text-sm">
                    {{ field.label }}
                    @if (field?.description) {
                      <i
                        [pTooltip]="field?.description"
                        [tooltipPosition]="'top'"
                        class="field-label-icon pi pi-question-circle"></i>
                    }
                  </label>
                  @switch (field.schemaType) {
                    @case ('select') {
                      <p-select
                        [options]="field.options"
                        optionLabel="label"
                        optionValue="val"
                        appendTo="body"
                        [(ngModel)]="formData[field.key]"
                        (onChange)="onFormFieldChange(field.key, $event.value)"
                        [inputId]="field.key" />
                    }
                    @case ('text') {
                      <input
                        pInputText
                        [attr.id]="field.key"
                        type="text"
                        pSize="small"
                        [(ngModel)]="formData[field.key]"
                        (ngModelChange)="onFormFieldChange(field.key, $event)" />
                    }
                    @case ('number') {
                      <p-inputNumber
                        [(ngModel)]="formData[field.key]"
                        (ngModelChange)="onFormFieldChange(field.key, $event)"
                        [inputId]="field.key"
                        [showButtons]="true"
                        [min]="field?.min || 0"
                        [max]="field?.max || 100"
                        [step]="field?.step || 1"
                        mode="decimal"
                        size="small"
                        [inputStyle]="{ width: '100%' }"></p-inputNumber>
                    }
                    @case ('date') {
                      <p-date-picker
                        [(ngModel)]="formData[field.key]"
                        size="small"
                        (ngModelChange)="onFormFieldChange(field.key, $event)"
                        [selectionMode]="formData['datePickSelectionMode']"
                        [readonlyInput]="true"
                        appendTo="body"
                      />
                    }
                    @case ('multiSelect') {
                      <p-multiSelect
                        [options]="field?.optionsStream ? (field.optionsStream | async)! : field.options!"
                        optionLabel="label"
                        optionValue="val"
                        appendTo="body"
                        [(ngModel)]="formData[field.key]"
                        (onChange)="onFormFieldChange(field.key, $event.value)"
                        [inputId]="field.key"
                        [maxSelectedLabels]="3"
                        [selectedItemsLabel]="'{0} 项已选中'" />

                    }
                  }
                </div>
              }
            </div>
          }
        </p-accordion-content>
      </p-accordion-panel>
    }
  </p-accordion>
}

