<div class="ngx-puzzle-wrapper">
  <div class="drawer left-drawer" [class.collapsed]="leftCollapsed">
    @if (!leftCollapsed) {
      <div class="slide-wrapper">
        <thy-slide-layout>
          <thy-slide-header>
            <ng-template #thyHeader>
              <h3 class="thy-slide-header-title w-100">
                组件
              </h3>
            </ng-template>
          </thy-slide-header>
          <thy-slide-body>
            <puzzle-panel></puzzle-panel>
          </thy-slide-body>
          <thy-slide-footer> slide footer
            <thy-icon thyIconName="chart:bar"></thy-icon> </thy-slide-footer>
        </thy-slide-layout>
      </div>
    }
    <button
      class="toggle-btn left"
      [thyButtonIcon]="leftCollapsed ? 'angle-right-bold' : 'angle-left-bold'"
      thyShape="circle-solid"
      thySize="xs"
      (click)="toggleLeft()"
    ></button>
  </div>
  <div class="main-content">
<!--    <app-canvas id="canvas"></app-canvas>-->
  </div>
  <div class="drawer right-drawer" [class.collapsed]="rightCollapsed">
    @if (!rightCollapsed) {
      <div class="slide-wrapper">
        <thy-slide-layout>
          <thy-slide-header>
            <ng-template #thyHeader>
              <h3 class="thy-slide-header-title text-right w-100">
                编辑
              </h3>
            </ng-template>
          </thy-slide-header>
          <thy-slide-body>
            slide body <br />
            slide body
          </thy-slide-body>
          <thy-slide-footer> slide footer </thy-slide-footer>
        </thy-slide-layout>
      </div>
    }
    <button
      class="toggle-btn left"
      [thyButtonIcon]="rightCollapsed ? 'angle-left-bold' : 'angle-right-bold'"
      thyShape="circle-solid"
      thySize="xs"
      (click)="toggleRight()"
    ></button>
  </div>
</div>


<!--<ng-template #leftCollapsed>-->
<!--  <thy-slide-layout>-->
<!--    <thy-slide-header thyTitle="slide title"></thy-slide-header>-->
<!--    <thy-slide-body>-->
<!--      slide body <br />-->
<!--      slide body-->
<!--    </thy-slide-body>-->
<!--    <thy-slide-footer> slide footer </thy-slide-footer>-->
<!--  </thy-slide-layout>-->
<!--</ng-template>-->
