<imm-bi-drag-wrapper
	[isEdit]="isEdit"
	[size]="config.size"
	[position]="config.position"
	[componentId]="config.id"
	[mainType]="'text'"
	[zIndex]="zIndex()"
	[styles]="config.props.styles">
	<div
		class="control-wrapper"
		[attr.data-control-type]="config.subType">
		@if (control?.label?.enable) {
			<div class="control-field">
				<div class="control-label-container">
					<label
						class="control-label-text"
						[ngStyle]="control?.label?.styles | stylesFormat">
						{{ control?.label?.text }}
						@if (control?.label?.description) {
							<i
								[pTooltip]="control?.label?.description"
								[tooltipPosition]="'top'"
								class="field-label-icon pi pi-question-circle ml-1"></i>
						}
					</label>
				</div>
				<div class="control-input-container">
					<ng-container *ngTemplateOutlet="viewControl"></ng-container>
				</div>
			</div>
		} @else {
			<ng-container *ngTemplateOutlet="viewControl"></ng-container>
		}
	</div>
</imm-bi-drag-wrapper>

<ng-template #viewControl>
	@switch (config.subType) {
		@case ('date-pick') {
			<p-date-picker
				[style.width.%]="100"
				[(ngModel)]="controlValue"
				[selectionMode]="control.props?.['selectionMode']"
				[size]="control.props?.['size']"
				[dateFormat]="control.props?.['dateFormat']"
				[showTime]="control.props?.['showTime']"
				[showSeconds]="control.props?.['showSeconds']"
				[placeholder]="control.props?.['placeholder']"
				[showButtonBar]="control.props?.['showButtonBar']"
				[maxDate]="control.props?.['maxDate'] | dateParse"
				[minDate]="control.props?.['minDate'] | dateParse"
				[readonlyInput]="true"
				(onShow)="panelOnShow(true)"
				(onClose)="controlValueChange()" />
		}
		@case ('select') {
			<p-select
				[style.width.%]="100"
				[(ngModel)]="controlValue"
				[placeholder]="control.props?.['placeholder']"
				[options]="control.props?.['options']"
				[optionLabel]="control.props?.['optionLabel']"
				[optionValue]="control.props?.['optionValue']"
				[disabled]="control.props?.['disabled']"
				[showClear]="control.props?.['showClear']"
				[filter]="control.props?.['filter']"
				[filterPlaceholder]="control.props?.['filterPlaceholder']"
				(onShow)="panelOnShow(true)"
				(onHide)="panelOnShow(false)"
				(ngModelChange)="controlValueChange()" />
		}
		@case ('multi-select') {
			<p-multiSelect
				[style.width.%]="100"
				[(ngModel)]="controlValue"
				[placeholder]="control.props?.['placeholder']"
				[options]="control.props?.['options']"
				[optionLabel]="control.props?.['optionLabel']"
				[optionValue]="control.props?.['optionValue']"
				[disabled]="control.props?.['disabled']"
				[showClear]="control.props?.['showClear']"
				[filter]="control.props?.['filter']"
				[maxSelectedLabels]="control.props?.['maxSelectedLabels']"
				[showToggleAll]="control.props?.['showToggleAll']"
				(onPanelShow)="panelOnShow(true)"
				(onPanelHide)="panelOnShow(false)"
				(ngModelChange)="controlValueChange()" />
		}
		@case ('input') {
			<input
				[style.width.%]="100"
				[(ngModel)]="controlValue"
				pInputText
				type="text"
				[placeholder]="control.props?.['placeholder']"
				(ngModelChange)="controlValueChange()" />
		}
		@case ('date-time') {
			<imm-bi-datetime
				[year]="control.props?.['year']"
				[month]="control.props?.['month']"
				[day]="control.props?.['day']"
				[weekday]="control.props?.['weekday']"
				[hourCycle]="control.props?.['hourCycle']"
				[hour]="control.props?.['hour']"
				[minute]="control.props?.['minute']"
				[second]="control.props?.['second']"
				[dateSeparator]="control.props?.['dateSeparator']"
				[timeSeparator]="control.props?.['timeSeparator']"
				[useChineseDate]="control.props?.['useChineseDate']"
				[useChineseTime]="control.props?.['useChineseTime']"
				[customFormat]="control.props?.['customFormat']"
				[autoUpdate]="control.props?.['autoUpdate']"
				[updateOnLoad]="control.props?.['updateOnLoad']"
				[timezone]="control.props?.['timezone']"
				[show]="control.props?.['show']"
				[order]="control.props?.['order']"
				[layout]="control.props?.['layout']"
				[styles]="control.props?.['styles']"></imm-bi-datetime>
		}
	}
</ng-template>
