@if (isEdit()) {
	<div
		cdkDrag
		cdkDragBoundary=".canvas-content-wrapper"
		(mousedown)="componentHandleSelect($event)"
		(cdkDragMoved)="componentHandleDrag()"
		(cdkDragEnded)="componentHandleDragEnd()"
		class="drag-wrapper-component edit"
		[class.active]="isSelected"
		[ngClass]="wrapperClassMap"
		[cdkDragFreeDragPosition]="position()"
		[ngStyle]="styles() | stylesFormat"
		[style.width.px]="size().width"
		[style.height.px]="size().height"
		[style.z-index]="zIndex()">
		<div class="mask">
			<i
				class="close-btn pi pi-times"
				(mousedown)="mouseDownStopPropagation($event)"
				(click)="componentHandleRemove($event, componentId())"></i>
		</div>
		<div class="drag-wrapper-container o-hidden">
			<ng-container *ngTemplateOutlet="viewContent"></ng-container>
		</div>
    @for (dir of directions; track dir.direction) {
      <div
        class="resize-handle"
        [ngClass]="[dir.className]"
        (mousedown)="startResize($event, dir.direction)"></div>
    }
	</div>
} @else {
  <div
    [ngClass]="wrapperClassMap"
    [style.left.px]="actualLeft"
    [style.top.px]="actualTop"
    [style.width.px]="actualWidth"
    [style.height.px]="actualHeight"
    [style.z-index]="zIndex()"
    [style.zoom]="reverseZoom()"
    [ngStyle]="styles() | stylesFormat">
    <div class="drag-wrapper-container">
      <ng-container *ngTemplateOutlet="viewContent"></ng-container>
    </div>
  </div>
}

<ng-template #viewContent>
	<ng-content></ng-content>
</ng-template>
