<p-accordion [multiple]="false">
	@for (group of sections; track group.label) {
		<p-accordion-panel [value]="group.label">
			<p-accordion-header>{{ group.label }}</p-accordion-header>
			<p-accordion-content>
        @if (group?.children && group.children!.length > 0) {
          <div class="flex flex-wrap gap-4">
            @for (field of group.children; track field.key) {
              <div class="flex-auto input-item">
                <label class="block mb-1 text-sm">
                  {{ field.label }}
                  @if (field?.description) {
                    <i
                      [pTooltip]="field?.description"
                      [tooltipPosition]="'top'"
                      class="field-label-icon pi pi-question-circle"></i>
                  }
                </label>
                @switch (field.schemaType) {
                  @case ('select') {
                    <p-select
                      [options]="field.options"
                      optionLabel="label"
                      optionValue="val"
                      appendTo="body"
                      [(ngModel)]="formData[field.key]"
                      (onChange)="onFormFieldChange(field.key, $event.value)"
                      [inputId]="field.key" />
                  }
                  @case ('text') {
                    <input
                      pInputText
                      [attr.id]="field.key"
                      type="text"
                      pSize="small"
                      [(ngModel)]="formData[field.key]"
                      (ngModelChange)="onFormFieldChange(field.key, $event)" />
                  }
                  @case ('number') {
                    <p-inputNumber
                      [(ngModel)]="formData[field.key]"
                      (ngModelChange)="onFormFieldChange(field.key, $event)"
                      [inputId]="field.key"
                      [showButtons]="true"
                      [min]="field?.min || 0"
                      [max]="field?.max || 100"
                      [step]="field?.step || 1"
                      mode="decimal"
                      size="small"
                      [inputStyle]="{ width: '100%' }"></p-inputNumber>
                  }
                  <!-- 编辑数据 -->
                  @case ('button') {
                    <div class="w-full">
                      <p-button
                        type="button"
                        size="small"
                        icon="pi pi-pen-to-square"
                        [label]="field.label"
                        (click)="openData()"
                      ></p-button>
                    </div>
                  }
                  @case ('color') {
                    <p-color-picker
                      appendTo="body"
                      [(ngModel)]="formData[field.key]"
                      (ngModelChange)="onFormFieldChange(field.key, $event)"
                      [inputId]="field.key"
                      [style]="{ 'margin-bottom': '8px' }" />
                    <input
                      class="color-input"
                      pInputText
                      type="text"
                      pSize="small"
                      [(ngModel)]="formData[field.key]"
                      (ngModelChange)="onFormFieldChange(field.key, $event)" />
                  }
                }
              </div>
            }
          </div>
        }
				@if (group.headerSetting && group.headerSetting.length > 0) {
					<p-table
						[value]="(group?.rowData) || []"
						[size]="'small'">
						<ng-template #header>
							<tr>
								@for (field of group.headerSetting; let i = $index; track i) {
									<th class="text-center">
										{{ field.headerName }}
									</th>
								}
							</tr>
						</ng-template>
						<ng-template
							#body
							let-data
							let-editing="editing">
							<tr>
								@for (head of group.headerSetting; let i = $index; track i) {
									<td
										class="editor-td"
										style="text-align: center"
										[pEditableColumn]="data[head.field]"
										[pEditableColumnField]="head.field">
										<p-cellEditor>
											<ng-template #input>
												@switch (head.schemaType) {
													@case ('text') {
														<input
															class="editor-input"
															pInputText
															[pSize]="'small'"
															type="text"
                              (blur)="editTableComplete(data['field'], head.field)"
                              (keydown.enter)="editTableComplete(data['field'], head.field)"
															[(ngModel)]="data[head.field]" />
													}
													@case ('select') {
														<p-select
															class="editor-select"
															[options]="head.options"
                              [showClear]="head?.clearable"
															optionLabel="label"
															optionValue="val"
															appendTo="body"
                              autofocus="true"
                              (onChange)="editTableComplete(data['field'], head.field)"
															[(ngModel)]="data[head.field]" />
													}
												}
											</ng-template>
											<ng-template #output>
												{{ data[head.field] | valueFormat: head.options! : head.schemaType }}
											</ng-template>
										</p-cellEditor>
									</td>
								}
							</tr>
						</ng-template>
					</p-table>
				}
			</p-accordion-content>
		</p-accordion-panel>
	}
</p-accordion>
<imm-bi-data-source-dialog
  [(visible)]="visible"
  [bufferIndex]="bufferIndex"
  [requestOptions]="requestOptions()"
  [showAggPreview]="false"
  (confirm)="onDataSourceConfirm($event)"
  (cancel)="onDataSourceCancel()">
</imm-bi-data-source-dialog>

